header img {
  height: 25%;
}

header h1{
  font-family: bubblegum sans;
  font-size: 3em;
  font-weight: 750;
  text-align: center;
  color: transparent;
  -webkit-text-stroke: 0.1rem blue;
  background: -webkit-linear-gradient(blue, white);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}

h3 {
  text-decoration: underline;
  font-weight: bold;
  margin-bottom: 0;
}

p {
  margin-top: 0;
}
