header {
  width: 100%;
  margin-bottom: 0;
  border-bottom: 0;
}

.bananasplit {
  max-height: 20rem;
  width: 100%;
  position: relative;
  padding: 0;
  opacity: 0.5;
  size: 75%;
}

header img {
  border-radius: 50%;
  opacity: 50%;
}

ul {
  list-style-type: none;
}

li {
  list-style-type: none;
}

header h1{
  font-family: comic;
  font-size: 3em;
  font-weight: 750;
  text-align: center;
  margin-top: -9rem;
  margin-bottom: 5rem;
  -webkit-text-stroke: 0.1rem blue;
  background: -webkit-linear-gradient(blue, white);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

h3 {
  text-decoration: underline;
  font-weight: bold;
  margin-bottom: 0;
}

header p {
  margin-top: 0;
  margin: 0;
  width: 50%;
}

img {
  height: 25%;
  padding-bottom: 0;
  margin-bottom: 0;
  width: 50%;
}

/*----make the two columns-----*/

.header1, .header1::before,
.header2, .header2::before {
  width: 50%;
}

.header1, .header2 {
  float: left;
  padding: 0.5em;
  width: 50%;
  margin: 1rem;
}

.header1::before, .header2::before {
  content "";
  position: absolute;
  top: 0; bottom: 0;
  /*top: 0; right: 0; bottom: 0; left: 0;*/
}

.header1, .header1:before {
  border-top: 5px groove;
  border-bottom: 5px groove;
}

.header1:before {
  left: 0;
}

.header2, .header2:before {
  border-top: 5px groove;
  border-bottom: 5px groove;
}

.header2:before {
  right: 0;
}

header .clearfix:before,
header .clearfix:after {
  content: "";
  display: table;
}
