header {
  width: 100%;
  /*max-height: 25%;*/
}

header img {
  /*height: 25%;*/
  border-radius: 50%;
}

header h1{
  max-height: 25%;
  font-family: bubblegum sans;
  font-size: 3em;
  font-weight: 750;
  text-align: center;
  color: transparent;
  -webkit-text-stroke: 0.1rem blue;
  background: -webkit-linear-gradient(blue, white);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
max-width: 100%

}

h3 {
  text-decoration: underline;
  font-weight: bold;
  margin-bottom: 0;
}

header p {
  margin-top: 0;
  margin: 0;
  width: 50%;
  height: 20rem;
}

img {
  height: 25%;
  padding-bottom: 0;
  margin-bottom: 0;
  width: 50%;
}

.header1 {
  float: left;
  position: absolute;
  width: 100%;
}

.header2 {
  float: left;
  position: absolute;
  width: 100%;
}

header .clearfix:before,
header .clearfix:after {
  content: "";
  display: table;
}


header .clearfix:after {
  clear: both;
}
