.row1 {
  float: left;
}

.row2 {
  float: left;
}

main .clearfix:before,
main .clearfix:after {
  content: "";
  display: table;
}

.main row1 row1:before{

}

main .clearfix:after {
  clear: both;
}

.flavorAlpha, .flavorBeta{
  border: black solid 5px;
  border-radius: 15%;
  margin-top: 1rem;
}
